<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Computator.NET.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Computator.NET.Core.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="CodeEditor" serializeAs="String">
        <value>Scintilla</value>
      </setting>
      <setting name="FunctionsOrder" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="TooltipType" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="ExpressionFont" serializeAs="String">
        <value>Cambria, 15.75pt</value>
      </setting>
      <setting name="ScriptingFont" serializeAs="String">
        <value>Consolas, 12pt</value>
      </setting>
      <setting name="ShowReturnTypeInExpression" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowParametersTypeInExpression" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowReturnTypeInScripting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowParametersTypeInScripting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumericalOutputNotation" serializeAs="String">
        <value>MathematicalNotation</value>
      </setting>
      <setting name="ScriptingDirectory" serializeAs="String">
        <value>TSL Examples\_Scripts</value>
      </setting>
      <setting name="CustomFunctionsDirectory" serializeAs="String">
        <value>TSL Examples\_CustomFunctions</value>
      </setting>
      <setting name="CalculationsErrors" serializeAs="String">
        <value>ReturnNAN</value>
      </setting>
    </Computator.NET.Core.Properties.Settings>
  </userSettings>
</configuration>